/Java/Fundamentos/nbproject/
/Java/Fundamentos/build/
/Java/Fundamentos/dist/
/Java/Fundamentos/test/
/Java/Fundamentos/*.xml
/Java/Fundamentos/*.mf

/Java/DataBase-JDBC/nbproject/
/Java/DataBase-JDBC/build/
/Java/DataBase-JDBC/test/
/Java/DataBase-JDBC/dist/
/Java/DataBase-JDBC/*.xml
/Java/DataBase-JDBC/*.mf

/Java/Java8/nbproject/
/Java/Java8/build/
/Java/Java8/dist/
/Java/Java8/test/
/Java/Java8/*.xml
/Java/Java8/*.mf
/Java/Java8/nbproject/private/

/Spring/Microservices/RestTemplate/DepartmentService/nbproject/
/Spring/Microservices/RestTemplate/DepartmentService/build/
/Spring/Microservices/RestTemplate/DepartmentService/test/
/Spring/Microservices/RestTemplate/DepartmentService/dist/
/Spring/Microservices/RestTemplate/DepartmentService/*.cmd
/Spring/Microservices/RestTemplate/DepartmentService/*.md
/Spring/Microservices/RestTemplate/DepartmentService/nbproject/private/
/Spring/Microservices/RestTemplate/DepartmentService/mvnw
/Spring/Microservices/RestTemplate/DepartmentService/target/

/Spring/Microservices/RestTemplate/UserService/nbproject/
/Spring/Microservices/RestTemplate/UserService/build/
/Spring/Microservices/RestTemplate/UserService/test/
/Spring/Microservices/RestTemplate/UserService/dist/
/Spring/Microservices/RestTemplate/UserService/*.cmd
/Spring/Microservices/RestTemplate/UserService/*.md
/Spring/Microservices/RestTemplate/UserService/nbproject/private/
/Spring/Microservices/RestTemplate/UserService/mvnw
/Spring/Microservices/RestTemplate/UserService/target/
