/Java/Fundamentos/nbproject/
/Java/Fundamentos/build/
/Java/Fundamentos/dist/
/Java/Fundamentos/test/
/Java/Fundamentos/*.xml
/Java/Fundamentos/*.mf

/Java/DataStructures/nbproject/
/Java/DataStructures/build/
/Java/DataStructures/test/
/Java/DataStructures/dist/
/Java/DataStructures/*.xml
/Java/DataStructures/*.mf

/Java/Java8/nbproject/
/Java/Java8/build/
/Java/Java8/dist/
/Java/Java8/test/
/Java/Java8/*.xml
/Java/Java8/*.mf

/Spring/Microservices/RestTemplate/DepartmentService/nbproject/
/Spring/Microservices/RestTemplate/DepartmentService/.mvn/
/Spring/Microservices/RestTemplate/DepartmentService/build/
/Spring/Microservices/RestTemplate/DepartmentService/test/
/Spring/Microservices/RestTemplate/DepartmentService/dist/
/Spring/Microservices/RestTemplate/DepartmentService/*.cmd
/Spring/Microservices/RestTemplate/DepartmentService/*.md
/Spring/Microservices/RestTemplate/DepartmentService/mvnw
/Spring/Microservices/RestTemplate/DepartmentService/target/

/Spring/Microservices/RestTemplate/UserService/nbproject/
/Spring/Microservices/RestTemplate/UserService/.mvn/
/Spring/Microservices/RestTemplate/UserService/build/
/Spring/Microservices/RestTemplate/UserService/test/
/Spring/Microservices/RestTemplate/UserService/dist/
/Spring/Microservices/RestTemplate/UserService/*.cmd
/Spring/Microservices/RestTemplate/UserService/*.md
/Spring/Microservices/RestTemplate/UserService/mvnw
/Spring/Microservices/RestTemplate/UserService/target/

/Spring/Microservices/WebClient/DepartmentService/nbproject/
/Spring/Microservices/WebClient/DepartmentService/.mvn/
/Spring/Microservices/WebClient/DepartmentService/build/
/Spring/Microservices/WebClient/DepartmentService/test/
/Spring/Microservices/WebClient/DepartmentService/dist/
/Spring/Microservices/WebClient/DepartmentService/*.cmd
/Spring/Microservices/WebClient/DepartmentService/*.md
/Spring/Microservices/WebClient/DepartmentService/mvnw
/Spring/Microservices/WebClient/DepartmentService/target/

/Spring/Microservices/WebClient/UserService/nbproject/
/Spring/Microservices/WebClient/UserService/.mvn/
/Spring/Microservices/WebClient/UserService/build/
/Spring/Microservices/WebClient/UserService/test/
/Spring/Microservices/WebClient/UserService/dist/
/Spring/Microservices/WebClient/UserService/*.cmd
/Spring/Microservices/WebClient/UserService/*.md
/Spring/Microservices/WebClient/UserService/mvnw
/Spring/Microservices/WebClient/UserService/target/

/Spring/Kafka/SpringbootKafka/nbproject/
/Spring/Kafka/SpringbootKafka/.mvn/
/Spring/Kafka/SpringbootKafka/.idea/
/Spring/Kafka/SpringbootKafka/build/
/Spring/Kafka/SpringbootKafka/test/
/Spring/Kafka/SpringbootKafka/dist/
/Spring/Kafka/SpringbootKafka/*.cmd
/Spring/Kafka/SpringbootKafka/mvnw
/Spring/Kafka/SpringbootKafka/target/

/Spring/Kafka/Kafka-Wikimedia-Project/nbproject/
/Spring/Kafka/Kafka-Wikimedia-Project/.mvn/
/Spring/Kafka/Kafka-Wikimedia-Project/.idea/
/Spring/Kafka/Kafka-Wikimedia-Project/build/
/Spring/Kafka/Kafka-Wikimedia-Project/test/
/Spring/Kafka/Kafka-Wikimedia-Project/dist/
/Spring/Kafka/Kafka-Wikimedia-Project/*.cmd
/Spring/Kafka/Kafka-Wikimedia-Project/mvnw
/Spring/Kafka/Kafka-Wikimedia-Project/target/
/Spring/Kafka/Kafka-Wikimedia-Project/consumer-database/target/
/Spring/Kafka/Kafka-Wikimedia-Project/producer-wikipedia/target/


